@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.card-wrap{
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
}

.card-content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 16px;
}

.card-container{
  min-width: 600px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #CBD5E1;
  padding: 28px;
}


.app-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

button{
  padding: 12px 16px;
  width: 100%;
  background-color: #6D28D9;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

button:hover{
    background-color: #5B21B6;
}

img{
  width: 60px;
  heigth: 60px;
  border-radius: 100px;
  object-fit: cover;               
}

/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  min-height: 100%;
  background-color: #F1F5F9;
  font-family: 'Inter', sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}